In [2]:
import cv2
import pytesseract
from PIL import Image
import pandas as pd 
import matplotlib.pyplot as plt

In [6]:
text = pytesseract.image_to_string(Image.open('/Users/askvyas/Desktop/001.jpg'))

In [7]:
text

'TOI LOU WL\n\n \n\nrT TC 7'

In [8]:
image = cv2.imread('/Users/askvyas/Desktop/001.jpg')
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

In [10]:
cv2.imshow("",gray)

In [12]:
text2 = pytesseract.image_to_string(gray)

In [13]:
text2

'MALI!\n\ni -\n\nUs\n\n    \n  \n\n  \n\n3\n\n& ae p a\nWHAT YOU THINK IT MEMES}'

In [44]:

import pandas as pd
import re
import string
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower()
    
    ## Remove stop words
    ## Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", "  ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", "  ", text)
    text = re.sub(r"\+", "  ", text)
    text = re.sub(r"\-", "  ", text)
    text = re.sub(r"\=", "  ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"\s{2,}", " ", text)
    return text

In [45]:
print(str(clean_text(text2)))

mali i us 3 ae p a what you think it memes

In [3]:
df_raw=pd.read_csv('/Users/askvyas/Documents/Memology/OffensiveMemes.csv')
df_raw1=df_raw[['text_corrected','offensive']]
df_raw1

                                         text_corrected       offensive
0     LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...   not_offensive
1     The best of #10 YearChallenge! Completed in le...   not_offensive
2     Sam Thorne @Strippin ( Follow Follow Saw every...   not_offensive
3                 10 Year Challenge - Sweet Dee Edition  very_offensive
4     10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...  very_offensive
...                                                 ...             ...
6987  Tuesday is Mardi Gras Wednesday is Valentine's...  very_offensive
6988  MUST WATCH MOVIES OF 2017 ITI Chennai memes MA...   not_offensive
6989  LESS MORE TALKING PLANNING SODA JUNK FOOD COMP...          slight
6990  When I have time is a fantasy. no one has time...   not_offensive
6991  The starting point for every good idea is "Wha...   not_offensive

[6992 rows x 2 columns]

In [ ]:
import seaborn as sns

sns.countplot(x='offensive', data=df_raw1)

In [5]:
df=pd.read_csv('uptweets1.csv')

     __label__very_offensive 10 year challenge sweet dee edition
0     __label__very_offensive 10 year challenge with...
1     __label__very_offensive probably the first man...
2     __label__very_offensive state dining room in t...
3     __label__very_offensive i wonder why who is th...
4     __label__very_offensive every time i already k...
...                                                 ...
7278  __label__hateful_offensive what normal people ...
7279      __label__hateful_offensive you should fear me
7280  __label__hateful_offensive i 'm not fighting a...
7281  __label__hateful_offensive hey girl i love fig...
7282  __label__hateful_offensive when she looks perfect

[7283 rows x 1 columns]